<section
  class="max-w-9xl mx-auto px-6 py-16 md:py-24 lg:py-32 mb-20 md:mb-28 lg:mb-32"
>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 place-items-center bg-white/10 p-8 rounded-2xl"
  >
    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between
         p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-cyan-500/50
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-cyan-500 mb-2"
        >
          Learn how to use Tailwind x Astro
        </h3>
        <p
          class="text-xl text-center text-cyan-300 text-shadow-2xs text-shadow-cyan-500 my-15 text-body"
        >
          Astro is a modern framework for building fast websites.
          Combine it with Tailwind CSS for efficient and stylish development.
        </p>
      </header>

      <footer>
        <a
          href="/docs/installation"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>

    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-orange-500/50
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-orange-500 mb-2"
        >
          Docs and resources
        </h3>
        <p
          class="text-xl text-orange-300 text-shadow-2xs text-shadow-orange-500 text-center my-15 text-body"
        >
          Explore the official documentation for Tailwind CSS and Astro to
          unlock their full potential and create amazing web experiences.
        </p>
      </header>

      <footer>
        <a
          href="docs"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>

    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between
         p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-blue-500/50
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-blue-700 mb-2"
        >
          Tips and best practices
        </h3>
        <p
          class="text-xl text-blue-300 text-shadow-2xs text-shadow-blue-600 text-center my-15 text-body"
        >
          Get tips and best practices for using Tailwind CSS and Astro to
          optimize your development workflow and create stunning websites.
        </p>
      </header>

      <footer>
        <a
          href="#"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>
    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between
         p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-purple-600/50
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-purple-600 mb-2"
        >
          Help and support
        </h3>
        <p
          class="text-xl text-purple-300 text-shadow-2xs text-shadow-purple-500 text-center my-15 text-body"
        >
          Need help? Find support and community resources for Tailwind CSS and
          Astro to get assistance and connect with other developers.
        </p>
      </header>

      <footer>
        <a
          href="#"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>
    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between
         p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-white/60
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-white/40 mb-2"
        >
          Recomendations and inspiration
        </h3>
        <p
          class="text-xl text-white text-shadow-2xs text-shadow-white text-center my-15 text-body"
        >
          Discover recommendations and inspiration for using Tailwind CSS and
          Astro to create unique and innovative web projects.
        </p>
      </header>

      <footer>
        <a
          href="#"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>
    <article
      class="w-full max-w-sm h-105
         bg-gray-900 border border-default
         rounded-2xl shadow-lg
         flex flex-col justify-between
         p-6
         transition-all duration-700 ease-out
         hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/50
         scroll-card opacity-0 translate-y-6"
    >
      <header>
        <h3
          class="text-4xl text-center font-bold text-white text-shadow-lg text-shadow-pink-500 mb-2"
        >
          Community and events
        </h3>
        <p
          class="text-xl text-pink-300 text-shadow-2xs text-shadow-pink-500 text-center my-15 text-body"
        >
          Join the community and stay updated on events related to Tailwind CSS
          and Astro to connect with other developers and learn from experts.
        </p>
      </header>

      <footer>
        <a
          href="#"
          class="inline-block text-sm font-medium text-white hover:underline"
        >
          More →
        </a>
      </footer>
    </article>
  </div>
</section>

<script>
  const cards = document.querySelectorAll(".scroll-card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-6");
          entry.target.classList.add("opacity-100", "translate-y-0");
        } else {
          entry.target.classList.remove("opacity-100", "translate-y-0");
          entry.target.classList.add("opacity-0", "translate-y-6");
        }
      });
    },
    { threshold: 0.2 },
  );

  cards.forEach((card) => observer.observe(card));
</script>
