---
import TailwindIcon from "../icons/Tailwind.astro";
import AstroIcon from "../icons/AstroIcon.astro";
---

<main class="flex flex-col items-center justify-center min-h-screen p-4 sm:p-8 md:p-12 lg:p-24">
  <section
    id="hero"
    class="relative text-center my-8 sm:my-16 md:my-24 lg:my-40 text-white opacity-0 translate-y-10 transition-all duration-1000 ease-out w-full"
  >  
    <div class="absolute inset-0 flex items-center justify-center gap-20 sm:gap-40 md:gap-60 lg:gap-100 opacity-10 pointer-events-none">
      <AstroIcon class="w-40 sm:w-60 md:w-80 lg:w-100 h-40 sm:h-60 md:h-80 lg:h-100" />
      <TailwindIcon class="w-40 sm:w-60 md:w-80 lg:w-100 h-40 sm:h-60 md:h-80 lg:h-100" />
    </div>
    <div class="relative z-10 px-2 sm:px-4">
      <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl text-white font-bold text-heading mb-4 sm:mb-6 md:mb-8">
        Welcome to <span class="text-transparent bg-clip-text bg-linear-to-r
         from-purple-400 to-pink-600 drop-shadow-[0_0_60px_rgba(200,80,180,1)]">Astro</span> 
         <span class="text-gray-400 font-light text-shadow-lg text-shadow-gray-700">&</span> 
        <span class="text-transparent bg-clip-text bg-linear-to-r
         from-blue-700 to-cyan-500 drop-shadow-[0_0_60px_rgba(34,211,238,1)]">Tailwind</span>!
      </h1>

      <p class="text-lg sm:text-xl md:text-2xl lg:text-4xl text-heading text-white text-shadow-lg text-shadow-black mb-8 sm:mb-10 md:mb-12">
        Get started by editing
        <code class="bg-black/60 px-2 py-1 rounded text-cyan-300 text-sm sm:text-base md:text-lg lg:text-2xl">src/pages/index.astro</code>
      </p>
    </div>
  </section>
</main>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hero = document.getElementById("hero");

    hero.classList.remove("opacity-0", "translate-y-10");
    hero.classList.add("opacity-100", "translate-y-0");
  });
</script>
